.reviews {
  margin-top: 64px;
  background-color: #3b718e;
}
.reviews_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
.title_line {
  margin-bottom: 50px;
}
