.container {
  font-family: var(--main-font);
  position: relative;
  max-width: 390px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 390px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1240px) {
    max-width: 1040px;

    margin: 0 auto;
  }
}
