.footer {
  padding: 38px 0;
  background-color: #013252;
}
@media only screen and (max-width: 768px) {
  .social_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_text {
    margin-top: 32px;
  }
}
@media only screen and (min-width: 1239px) {
  .social_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.social_link {
  margin-right: 24px;
}
.footer_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.social_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
