.footer {
  padding: 38px 0;
  background-color: #013252;
}
.social_links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.social_link {
  margin-right: 24px;
}
.footer_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
