.hero {
  background-color: #013252;
  color: #fff;
  padding-top: 48px;
  padding-bottom: 64px;
}

.hero_block_wrapper {
  display: flex;
  flex-direction: column;
}
.hero_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px 0px #00000040;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.hero_title span {
  color: #f3da70;
}
.wrapper {
  position: relative;
  width: inherit;
}

.hero_text_1 {
  position: relative;
  margin-top: 48px;
  font-size: 24px;
  line-height: 36px;
}
.hero_text_2 {
  margin-top: 32px;
  font-size: 20px;
  line-height: 30px;
}
.hero_text_2_span {
  font-weight: 600;
}
.hero_text_3 {
  position: relative;
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 24px;
  line-height: 36px;
}
.hero_text_3_span {
  color: #f3da70;
  font-weight: 700;
}

.hero_xwhite {
  position: absolute;
  right: 64px;
  bottom: -40px;
}
.hero_question {
  position: absolute;
  top: -40px;
  right: -20px;
}
.work {
  position: absolute;
  top: 120px;
  left: -15px;
}
.hero_xyellow {
  position: absolute;
  right: -14px;
  top: -14px;
}

@media only screen and (min-width: 1239px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 154px;
    background-image: url('../../images/photos/desktop/hero-header.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero_title {
    width: 666px;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.01rem;
  }
  .title_line {
    width: 736px;
    height: 53px;
  }
  .content {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .hero_text_1 {
    position: relative;
    margin-top: 0;

    margin-bottom: 47px;
    font-size: 22px;
    line-height: 33px;
  }
  .hero_text_1 span {
    font-weight: 700;
  }
  .hero_text_3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 42px;
  }
  .hero_text_3 span {
    color: #f3da70;
    font-weight: 700;
  }
  .button-container {
    display: flex;
    flex-direction: row;
  }
  .desktop_button {
    margin-right: 20px;
  }
  .hero_arrow {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }
}
