@media only screen and (max-width: 768px) {
  .testimonial-slide {
    border-radius: 20px;
    padding: 32px 20px;
    background-color: #fff;
    display: block;
    max-height: 385px;
    transition: min-height 0.3s ease;
  }
}
@media only screen and (min-width: 1239px) {
  .testimonial-slide {
    background-color: transparent;
  }
  .testimonial_wrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 32px 20px;
  }
}
.expanded {
  max-height: 550px; /* Убираем фиксированную высоту для расширения */
}
.testimonial_image {
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 32px;
}
.testimonial-content {
  background-color: #efefef;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  max-height: 110px;

  overflow: hidden; /* Скрыть излишек текста в свернутом состоянии */
  /* Примерное ограничение высоты для свернутого текста */
}
.testimonial-slide.expanded .testimonial-content {
  max-height: none; /* Убрать ограничение высоты для раскрытого текста */
}
.expand-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.testimonial-footer h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
  color: #3b718e;
}
.testimonial-footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.arrow-icon {
  transition: transform 0.3s ease; /* Плавный переход для анимации */
}

.testimonial-slide.expanded .arrow-icon {
  transform: rotate(
    180deg
  ); /* Поворот стрелки на 180 градусов при раскрытом состоянии */
}
